.banner {
    width: 100%;
    height: 200px;
    background-image: url("../../assets/hikelandscapecropped.jpg");
    background-size: cover;
    filter: blur(3px);
}

.pagelayout {
    max-width: 1200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.profile {
    border-radius: 10px;
    border: .5px solid rgba(0,0,0,.125);
}

.profilecol {
    justify-content: center;
}

.logorow {
    margin-top: 10px;
    margin-left: 10px;
}

.linkedin {
    width: 64px;
    margin-left: 10px;
}

@media(max-width:766px) {
    .banner {
        height: 150px;
    }
}

@media(max-width:415px) {
    .banner {
        display: none;
    }
}
