.searchbar {
    margin-top: 15px;
}


.filters {
    margin-top: 20px;
    margin-left: unset;
    margin-right: unset;
}

.noresults {
    text-align: center;
}

.projectscontent {
    margin-top: -10px;
    padding-bottom: 50px;
}

.projectcard {
    min-width: 18rem;
    max-width: 18rem;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;   
}

.projcarddeck {
    justify-content: center;
    margin-bottom: 25px;
}

@media(max-width:766px) {
    .filters {
        display: none;
    }

    .col-sm-11 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}